body {background-color:black;
}

div.row{
    width:100%;
}

Header{
    background-color:black;
    width:100%;
    height:130px;       
    bottom:0;
    position:initial;
    display: inline-block;
}

footer{
    background-color:white;
    width:100%;
    height:20px;
}

.f{
    font-family:Impact;
    font-size:2em;
}

a:focus, a:hover {
    color: white !important;
    text-decoration: none;
}

 .logo {
     color:white;
     font-size:3em;

     font-family:Impact;
     margin-top:35px;

     display: inline-block;
}

.regis {
     color:white;
     font-size:2em;
     font-family:Impact;
     margin-top:35px;
     display: inline-block;
     margin-right:0px;
}


  .logo1 {
     color:white;
     font-size:3em;
     text-align:center;
     font-family:Impact;

}

.checkbox{
    color:white;
     font-size:1em;
     text-align:left;
     padding-top:1px;
     padding-bottom:1px;
}

.form-inline{
    margin-top: 13px;
    margin-left: 150px;
}

.preload * {
  transition: none !important;
}

label {
  display: block;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 0.35em;
}

input[type="text"], input[type="password"] {
  width: 100%;
  border: none;
  padding: 0.5em;
  border-radius: 2px;
  margin-bottom: 0.5em;
  color: #333;
}
input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.3);
}

button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border: none;
  border-radius: 2px;
  background-color: #7E5AF1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}

small {
  font-size: 1em;
}

.login--login-submit {
  float: right;
}

.login--container {
  width: 600px;
  background-color: #F15A5C;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.login--toggle-container {
  position: absolute;
  background-color: black;
  right: 0;
  line-height: 2.5em;
  width: 50%;
  height: 120px;
  text-align: right;
  cursor: pointer;
  transform: perspective(1000px) translateZ(1px);
  transform-origin: 0% 0%;
  transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
  backface-visibility: hidden;
}
.login--toggle-container .js-toggle-login {
     color:white;
     font-size:3em;
     text-align:center;
     font-family:Impact;
     margin-top:15px;
}
.login--active .login--toggle-container {
  transform: perspective(1000px) rotateY(180deg);
  background-color: #bc1012;
}

.login--username-container, .login--password-container {
  float: left;
  background-color: black;
  width: 50%;
  height: 120px;
  padding: 0.5em;
}

.login--username-container {
  transform-origin: 100% 0%;
  transform: perspective(1000px) rotateY(180deg);
  transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
  background-color: #bc1012;
  backface-visibility: hidden;
}
.login--active .login--username-container {
  transform: perspective(1000px) rotateY(0deg);
  background-color: black;
}

.mgtop{
    margin-top:100px;
}

#container {
  width: 840px;
  margin: 25px auto;
}

/* Background content */
canvas {
  display: block;
   -moz-opacity:0.2; /* For older FF versions */
   -khtml-opacity:0.2;
   opacity:0.2;
   filter:alpha(opacity=20);
}

body {
 background:#000 url(http://78waves.com/bg.jpg);
 width:100%;
}
/* --------------------------- */